@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-white dark:bg-[#202225];
}

@media (prefers-color-scheme: dark) {
  .scheme {
    background: #202225;
    color: #fff;
  }
}

body {
  @apply dark:bg-[#202225] bg-white
}

.ratio-box {
  @apply border border-slate-200 dark:border-slate-700 bg-slate-200 dark:bg-slate-600 rounded-md w-16 py-1 hover:bg-slate-200 dark:hover:bg-slate-700 hover:border-slate-400 dark:hover:border-slate-500 dark:text-slate-200 text-slate-700
}

.controller-box {
  @apply mt-2 border border-slate-200 dark:border-slate-700 rounded-lg dark:bg-slate-900/30 bg-slate-200/30 text-gray-800 dark:text-gray-300 p-4 ring-1 ring-blue-500 hover:ring-2 hover:ring-blue-700 hover:shadow-lg hover:dark:shadow-slate-800 hover:shadow-slate-200
}

.controller-minibox {
  @apply mt-2 border border-slate-200 dark:border-slate-700 rounded-lg dark:bg-slate-900/30 bg-slate-200/30 text-gray-800 dark:text-gray-300 p-4  hover:shadow-lg hover:dark:shadow-slate-800 hover:shadow-slate-200
}

.confirmBtn {
  @apply dark:bg-slate-700 bg-slate-300 px-4 rounded-xl ring-2 ring-gray-600 shadow-md hover:dark:bg-slate-800 hover:bg-slate-500 
}

.plusBtn {
  @apply dark:bg-slate-800 border dark:border-slate-600 bg-slate-300 border-slate-400
}

.title-text {
  @apply font-def font-extrabold text-2xl text-gray-600 dark:text-gray-400
}

.title-text-xl {
  @apply font-def font-extrabold text-xl text-gray-600 dark:text-gray-400
}


.title-text-sm {
  @apply font-def font-extrabold text-lg text-gray-600 dark:text-gray-400
}

.title-text-xs {
  @apply font-def font-extrabold text-sm text-gray-600 dark:text-gray-400
}

.green-Btn {
 @apply bg-green-200 dark:bg-green-700/20 dark:focus:bg-green-700 focus:bg-green-400 p-2 font-def w-24 font-extrabold shadow-md rounded-lg hover:ring-2 dark:ring-green-900 ring-green-400 mr-4
}



h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-300 dark:hover:text-slate-50;
}

p {
  @apply text-slate-500 dark:text-slate-300;
}
