@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-white dark:bg-[#202225];
}

.header--animated {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  box-shadow: rgba(255, 255, 255, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

footer {
  @apply text-gray-600 dark:text-white
    bg-gray-100 dark:bg-slate-600/20;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-300 dark:hover:text-slate-50;
}

p {
  @apply text-slate-500 dark:text-slate-300;
}
